.MainConatiner {
  display: flex;
}

.Container {
  border: 1px solid #d3d3d3;
  display: flex;
  height: 350px;
  width: 900px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 40px;
  margin-left: 90px;
}

.dealType {
  background-color: #2a5eeb;
  width: 300px;
}

.deal {
  color: white;
  margin-top: 150px;
  margin-left: 29px;
  margin-right: 3px;
  font-weight: bold;
}

.heading {
  font-size: 15px;
  color: dodgerblue;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 17px;
}

.mainCont {
  display: flex;
  flex-direction: column;
}

.validTill {
  background-color: green;
  color: white;
  width: 200px;
  border-radius: 10px;
  margin-left: 50px;
  padding-left: 10px;
}

.FinalElem {
  display: flex;
  margin-left: 20px;
  margin-top: 40px;
  margin-right: 10px;
  flex-direction: column;
}

.list {
  margin-top: 30px;
  font-size: 17px;
}

#btnAct {
  margin-top: 30px;
  margin-right: 20px;
}

#brn {
  padding-left: 10px;
  margin-top: 10px;
}

.lastp {
  margin-top: 30px;
  margin-left: 30px;
}

.link {
  margin-top: 20px;
  margin-left: 30px;
}

.link2 {
  margin-top: 60px;
  margin-left: 0px;
}

.search {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  height: 300px;
  margin-left: 50px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #d3d3d3;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#finbtn {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

#dropdownMenuButton {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #d3d3d3;
  padding-right: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  color: grey;
  font-size: 14px;
}
